*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    background-image: url('https://drive.google.com/uc?export=view&id=1WQnVQi4wL4FtyrOboF_7_k8hh_u_aIbL');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.web-name{
    text-decoration: none;
    font-size: 14pt;
    color: black;
}

.navbar{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12pt;
    padding: 30px;
    background-color: white;
}

.navbar-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.navbar-link{
    text-decoration: none;
    color: black;
}

.navbar-link:hover{
    color: lightblue;
    text-decoration: underline;
}

header{
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 75% 25%;;
}

.posts{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 30px;
}

.post{
    background-color: white;
    display: grid;
    width: 100%;
    padding: 10px;
}

h2{
    margin-top: 0;
}

.picture{
    widht: 650px;
    height: 450px;
}

.content{
    text-align: justify;
}

.about-me{
    padding: 24px;
    margin-top: 30px;
    margin-right: 30px;
    text-align: center;
    background-color: white;
}
  
.my-img img{
    width: 250px;
    border-radius: 10%;
}

footer{
    background-color: white;
    padding: 20px;
    margin-top: 90px;
    text-align: center;
    font-size: 10pt;
}

@media (max-width: 900px){
    main{
        display: block;
    }
    .post{
        width: 100%;
    }
    .picture{
        widht: 450px;
        height: 250px;
    }
    .about-me{
        margin-top: 30px;
        margin-right: 30px;
        margin-left: 30px;
        text-align: center;
        background-color: white;
    }

}

@media (max-width: 600px){
    .picture{
        widht: 400px;
        height: 200px;
    }
}