*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    background-image: url('https://drive.google.com/uc?export=view&id=1WQnVQi4wL4FtyrOboF_7_k8hh_u_aIbL');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.web-name{
    text-decoration: none;
    font-size: 14pt;
    color: black;
}

.navbar{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    font-size: 12pt;
    background-color: white;
}

.navbar-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.navbar-link{
    text-decoration: none;
    color: black;
}

.navbar-link:hover{
    color: lightblue;
    text-decoration: underline;
}

main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4%;
}

.my-name{
    padding: 15%;
}

button{
    border: solid lightblue 3px;
    padding: 10px;
    border-radius: 30px;
}

#btn-link{
    text-decoration: none;
    color: lightblue;
    font-weight: 600;
}

button:hover{
    background-color: lightblue;
    border: solid lightblue 3px;
    
}

#btn-link:hover{
    color: white;
    font-weight: 800;
}

img{
    height: 500px;
    border-radius: 20%;
    margin-left: 20%;
}

footer{
    background-color: white;
    padding: 20px;
    margin-top: 90px;
    text-align: center;
    font-size: 10pt;
}

@media (max-width: 900px){
    main{
        padding: 30px;
    }
    .my-name{
        padding: 0;
        margin-top: 55px;
    }
    img{
        height: 350px;
    }
}


@media (max-width: 600px){
    main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
        margin: 0;
    }

    .my-name{
        text-align: center;
        margin: 0;
    }

    img{
        height: 325px;  
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}